# CODEOWNERS for autoreview assigning in github

# https://help.github.com/en/articles/about-code-owners#codeowners-syntax

# Order is important; for each modified file, the last matching
# pattern takes the most precedence.
# That is, with the last pattern being
# *.rst                                     @nashif
# if only .rst files are being modified, only nashif is
# automatically requested for review, but you can manually
# add others as needed.

*                                @ncs-wcg-drivers
/fw_if/umac_if/inc/fw/           @ncs-wcg-phy @ncs-wcg-umac @ncs-wcg-lmac
/hw_if/hal/inc/fw/               @ncs-wcg-phy @ncs-wcg-umac @ncs-wcg-lmac
